<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
      <mat-card-title id="hello-world">{{ this.text }}</mat-card-title>
      <mat-card-subtitle>We were obviously very creative, so we're using Morris themed colors.</mat-card-subtitle>
      <mat-card-subtitle>Click dat hamburger in the top-left if you're hungry. Or if you just wanna see what else there is.</mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        This website is worth a million dollars.
      </mat-card-content>
    </mat-card>
  </div>
</div>
